[Desktop Entry]
Type=Plugin
Icon=actioncenter

Name=Action Center
Comment=Modern, slick and configurable quick actions panel

X-TDE-Library=actioncenter_panelapplet
X-TDE-UniqueApplet=true